/**
 * Stylesheets for the Custom Preview Bar
 */

// Sure, lock and load Compass
@import "compass/css3";

// Variables
$height: 59px;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#custom-preview-bar {
  height: $height;
  margin: 0;
  background: #2e343a linear-gradient(to bottom, #2e343a, #21262b);
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: relative;
  z-index: 99999;
  text-align: center;

  > a,
  > div {
    display: inline-block;
    max-height: $height;
  }

  .logo {
    margin-left: 20px;
    float: left;
  }
  .right {
    float: right;
    margin-right: 20px;
    line-height: $height;
  }

  .center {
    color: #cccfd1;
    text-align: left;
  }
  .selectable {
    background-color: #4a525a;
    border: 3px solid #141619;
    border-radius: 5px;
    padding: 8px 14px;
    margin-top: 11px;
    min-width: 200px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.15);
    position: relative;

    &:after,
    &:before {
      position: absolute;
      content: "";
      right: 10px;
      width: 0;
      height: 0;
      border: 4px solid #cccfd1;
    }
    &:before {
      top: 25%;
      border-color: transparent transparent #cccfd1 transparent;
    }
    &:after {
      top: 55%;
      border-color: #cccfd1 transparent transparent transparent;
    }
    &:hover {
      .other-themes {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .other-themes {
    visibility: hidden;
    opacity: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 97%;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    transition: all 0.2s ease;
    transform: translateY(-10px);

    li {
      a {
        display: block;
        background-color: #4a525a;
        color: #cccfd1;
        padding: 8px 14px;
        text-decoration: none;

        &:hover {
          background-color: #cccfd1;
          color: #4a525a;
        }
      }
      &:last-of-type a {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  .close {
    color: #bbb;
    color: rgba(255,255,255,0.67);
    transition: color 0.2s ease;
    margin-left: 10px;
    font-weight: bold;
    line-height: $height;
    display: inline-block;
    height: $height;
    vertical-align: top;
    font-size: 35px;
    text-decoration: none !important;

    &:hover {
      color: #fff;
    }
  }
  .purchase {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: .9;
    }
  }
  @media (max-width: 950px) {
    $nav-height: 49px;
    height: $nav-height;

    > a,
    > div {
      max-height: $nav-height;
    }
    .close {
      height: $nav-height;
      line-height: $nav-height;
    }
    .right {
      line-height: $nav-height;
    }
    .selectable {
      margin-top: ($nav-height - 38px)/2;
    }
  }
  @media (max-width: 790px) {
    text-align: left;
    padding-left: 20px;

    .logo {
      display: none;
    }
  }
  @media (max-width: 475px) {
    $nav-height: 40px;
    height: $nav-height;
    text-align: center;

    .center {
      display: none;
    }
    .right {
      float: none;
      line-height: $nav-height;
    }
    .close {
      height: $nav-height;
      line-height: $nav-height;
      font-size: 25px;
    }
  }
}

img {
  margin: 0;
  padding: 0;
  border: none;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

#main-preview-frame {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 999px;
}

.purchase {
  position: relative;
  text-decoration: none;
}

.purchase__text {
  position: absolute;
  left: 41px;
  text-transform: uppercase;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 13px;
  right: 5px;

  @media (max-width: 950px) {
    font-size: 11px;
    left: 34px;
  }

  @media (max-width: 475px) {
    font-size: 10px;
    left: 27px;
  }
}

.fb_iframe_widget {
  margin: 0 15px 0 0;
  top: -43px;

  @media (max-width: 950px) {
    top: -33px;
  }

  @media (max-width: 475px) {
    top: -25px;
  }
}

// Alternative Preview Bar
// ThemeForest style

// Preview Bar Container
.preview-bar {
  background-color: #232323;
  border-bottom: 1px solid #000000;
  width: 100%;
  height: 54px;
}

// Logo
.preview-bar__logo {
  float: left;
  padding-left: 11px;

  @media (min-width: 745px) {
    border-right: 1px solid #333333;
  }

  a {
    text-indent: -9999px;
    display: inline-block;
    background: url("../images/logo-envato.svg");
    margin: 20px 0 16px 4px;
    height: 14px;
    width: 118px;
    background-size: 118px 14px;

    @media (min-width: 569px) {
      margin: 18px 20px 18px 9px;
      height: 18px;
      width: 152px;
      background-size: 152px 18px;
    }
  }
}

// Select Theme
.preview-bar__select-theme {
  background-color: #454545;
  color: #dddddd;
  border-radius: 5px;
  padding: 9px 14px 8px;
  margin-top: 11px;
  margin-left: 20px;
  min-width: 200px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.15);
  position: relative;
  float: left;
  display: none;

  @media (min-width: 745px) {
    display: inline-block;
  }

  &:after,
  &:before {
    position: absolute;
    content: "";
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    top: 30%;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #666666 transparent;
  }

  &:after {
    top: 60%;
    border-width: 5px 6px 0 6px;
    border-color: #666666 transparent transparent transparent;
  }

  &:hover {
    .preview-bar__select-theme__all-themes {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Dropdown of All Themes
.preview-bar__select-theme__all-themes {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 97%;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  transition: all 0.2s ease;
  transform: translateY(-10px);

  li {
    a {
      display: block;
      background-color: #454545;
      color: #cccfd1;
      padding: 8px 14px;
      text-decoration: none;

      &:hover {
        background-color: #cccfd1;
        color: #4a525a;
      }
    }

    &:last-of-type a {
      border-radius: 0 0 5px 5px;
    }
  }
}

// Made By ProteusThemes
.preview-bar__proteusthemes {
  color: #828282;
  font-style: italic;
  padding: 20px 20px 18px 20px;
  float: left;
  display: none;

  @media (min-width: 990px) {
    display: inline-block;
  }

  a {
    color: #999999;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Buy Now Button
.preview-bar__purchase-button {
  float: right;
  background-color: #82b440;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 20px 8px 20px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 2px 0 #6f9a37;
  margin: 11px 13px;

  @media (min-width: 569px) {
    margin: 11px 23px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 54px;
    top: -11px;
    left: -11px;
    background-color: #333333;

    @media (min-width: 569px) {
      left: -21px;
    }
  }

  &:hover {
    background-color: #7aa93c;
  }
}

// Remove Frame
.preview-bar__remove-frame {
  float: right;
  color: #999999;
  text-decoration: none;
  padding: 0 20px 0 20px;
  border-left: 1px solid #333333;
  transition: all .1s linear;
  font-size: 12px;
  line-height: 54px;

  &:hover {
    color: #ffffff;
  }
}

.preview-bar__remove-frame__text {
  display: none;

  @media (min-width: 569px) {
    display: inline-block;
  }
}

.preview-bar__remove-frame__x {
  vertical-align: middle;
  padding-bottom: 3px;

  @media (min-width: 569px) {
    padding-right: 7px;
  }
}